.list-title{
  font-size:1.3rem;
  color: #1e90ff;
  padding: 0 0.5rem;
}
.list-introduce{
  color:#777;
  padding:.5rem;
}

.typeName {
  color: rgba(0, 0, 0, 0.45);
  font-size: 14px;
  margin-left: 1rem;
}
.ant-list-item {
  position: relative;
}
.ant-list-item-action {
  position: absolute;
  bottom: 1rem;
}